@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-blue: #0D50FF;
  --color-dark: #282828;
  --color-light: #FFFFFF;
  --color-dark-gray: #8B8B8B;
  --color-light-gray: #DDDDDD;
  --color-light-gray2: #F1F3F4;


  --border-radius-small: 6px;
  --border-radius-large: 12px;
  --border: 1px solid var(--color-dark-gray);

  --input-height: 54px;

  --container-width: 1360px;
  --container-padding-x: 15px;

  --blocks-margin-y: 80px;

  --transition-duration: all 0.2s;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-dark);
  font-weight: 500;

}

h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  margin: 0 0 40px 0;
}


.globalContainer {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.wrapperContainer {
  max-width: 1440px;
  background-color: var(--color-light);
  margin-inline: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


.errorMessage {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(132, 15, 15);
  font-weight: bold;
  text-align: center;
}

.titleBlock h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  margin: 0 0 10px 0;
  white-space: nowrap;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBlockLine {
  width: 100%;
  height: 1px;
  background-color: var(--color-light-gray);
  margin-left: 32px;
}

.titleBlockButton {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-dark-gray);
  background-color: var(--color-light);
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius-small);
  white-space: nowrap;
  padding: 6px 16px;
}

.titleBlockButton:hover {
  color: var(--color-dark-gray);
  background-color: var(--color-light-gray2);
}

a,
Link,
button,
input,
textarea,
svg * {
  transition: var(--transition-duration);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
select,
a {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: var(--color-dark);
}

a:hover {
  color: var(--color-blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

 